@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cc-black-10: #1a1a1a;
    --cc-black-20: #333;
    --cc-black-30: #4d4d4d;
    --cc-black-40: #666;
    --cc-black-50: #808080;
    --cc-black-60: #999;
    --cc-black-80: #ccc;
    --cc-black-90: #e5e5e5;
    --cc-black-95: #f2f2f2;
    --cc-white: #fff;

	--color-brand-yellow: rgba(255, 201, 23, 1);

    --color-blue-50: rgba(239, 246, 255, 1);
    --color-blue-100: rgba(222, 237, 255, 1);
    --color-blue-200: rgba(191, 219, 254, 1);
    --color-blue-300: rgba(147, 197, 253, 1);
    --color-blue-400: rgba(97, 166, 251, 1);
    --color-blue-500: rgba(52, 138, 244, 1);
    --color-blue-600: rgba(24, 109, 220, 1);
    --color-blue-700: rgba(31, 85, 178, 1);
    --color-blue-800: rgba(30, 68, 141, 1);
    --color-blue-900: rgba(25, 51, 112, 1);
    --color-blue-950: rgba(24, 34, 63, 1);

	--color-red-600: red;

    --font-weight-normal: 400;
    --font-weight-demi: 550;
    --font-weight-bold: 700;

	--font-size-xs: 0.75em; 
	--font-size-s: 0.875em; 
	--font-size-m: 1em; 
	--font-size-l: 1.375em; 

    --border-radius-25: 1px;
    --border-radius-75: 3px;
    --border-radius-150: 6px;
    --border-radius-300: 12px;
    --border-radius-400: 16px;
    --border-radius-full: 9999px;

    --max-width-2xl: 1280px;
    --max-width-xl: 896px;
    --max-width-lg: 512px;
    --max-width-xs: 320px;
}

/* Styling */ 
h1, h2, p, a {
	margin: 0; 
}

fieldset .hidden {
    display: none; 
}

/* styling form fields */
fieldset {
	position: relative;
	border: none; 
	padding: 0; 
	margin: 0; 
}

/* button {
	border: none; 
	border-radius: var(--border-radius-150); 
	min-width: 80px; 
}

fieldset legend {
	position: absolute; 
	top: 1em; 
	left: 1em; 
	margin: 0; 
	padding: 0;
	display: contents;
	color: var(--color-blue-900); 
	font-size: var(--font-size-l); 
	font-weight: var(--font-weight-bold);
}

fieldset input[type="text"], fieldset input[type="date"], fieldset input[type="number"] {
	border: 1px solid var(--cc-black-95);
	border-radius: var(--border-radius-150); 
	height: 2.5em;
	width: 100%;
}

input[type="text"]:user-invalid {
	border-color: #db0029; 
}

label::after {
	font-weight: var(--font-weight-normal);
	font-size: var(--font-size-s);
}

label:has(input[type="text"]:user-invalid)::after {
	content: "dit veld is verkeerd ingevuld";
	color: #db0029;
} */

/* general styling */ 
body {
    font-family: 'roboto', 'sans-serif'; 
	display: flex; 
	flex-direction: column; 
	margin: 0;
	align-items: center;
	background-color: var(--cc-black-95);
	gap: 1em;
}

/* header */ 
body > div {
	background-color: var(--color-brand-yellow);
	width: 100%; 
}

body > div div:first-of-type {
	padding: 2em; 
	display: flex; 
	flex-direction: column; 
	gap: 0.5em;
}

body > div div:first-of-type h1 {
	color: var(--color-blue-700);
	font-size: 2.375rem; 
	font-weight: var(--font-weight-normal);
}

body > div div:nth-of-type(2) {
	width: 100%;
	background-color: var(--color-red-600);  
	padding: 0 2em;
}

body > div div:nth-of-type(2) button {          /* <---  nog werg halen */ 
	position: absolute; 
	top: 10%; 
	right: 1em;
}

/* ---------- */ 
form {
	max-width: var(--max-width-xl);
	width: 100%; 
	margin: 0;
	border: 1px var(--color-grey); 
	border-radius: var(--border-radius-150); 
	display: flex; 
	flex-direction: column; 
	gap: 1.5em;
}

section {
	display: flex; 
	flex-direction: column;
	gap: 1em; 
}

section > fieldset {
	display: flex; 	
	flex-direction: column;
	gap: 1.5em; 
	background-color: var(--cc-white);
	margin: 0; 
	padding: 4em 1.5em 1.5em 1.5em;
	border: 1px var(--cc-black-90) solid; 
	border-radius: var(--border-radius-150); 
	position: relative; 
}

section fieldset legend {
	position: absolute; 
	top: 1em; 
	color: var(--color-blue-700); 
	font-weight: var(--font-weight-demi);
	font-size: var(--font-size-l);
	padding-inline: 0;
}

section > fieldset label:has(input[type="text"]), section > fieldset label:has(input[type="date"]) {
	display: flex;
	flex-direction: column; 
	gap: 0.4em;
	color: var(--cc-black-10); 
	font-size: var(--font-size-m);
	font-weight: var(--font-weight-normal);

	& p {
		display: none; 
		color: var(--color-red-600); 
	}
}

label:has(input[type="text"]:user-invalid) p {
	display: contents;
}

input[type="text"]:user-invalid {
	border-left-color: var(--color-red-600); 
	border-left-width: 4px; 
}

section > fieldset input[type="text"], section > fieldset input[type="date"]{
	border-radius: var(--border-radius-150); 
	border: 2px var(--cc-black-80) solid; 
	min-height: 44px; 
}



/* -------- */ 
section div:has(input[type="text"]) {
	display: flex; 
	flex-direction: row; 
	gap: 1em; 
}


#verkrijger {
	position: relative; 
	padding-bottom: 5em;
	display: flex; 
	flex-direction: column; 
	gap: 4em; 
}

#verkrijger > fieldset {
	display: flex; 
	flex-direction: column; 
	gap: 1em;
}

#verkrijger > div {
	position: absolute; 
	bottom: 0; 
}

#verkrijger fieldset button {
	position: absolute; 
	top: 1em; 
	right: 1em;
}

#verkrijger #add {
	position: absolute; 
	bottom: 1em; 
	left: 0em; 
	background-color: var(--color-blue-600); 
	padding: 1em; 
	color: var(--cc-white); 
	font-weight: var(--font-weight-demi);
	font-size: var(--font-size-m);
	border-radius: var(--border-radius-300); 
}